<!DOCTYPE html>
<html>
  <head>
    <title>Lr8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style> 
        table, th, tr, td 
        { 
            border:   1px solid black; 
            text-align: center; 
        } 
 
    </style> 
  <body>
    <%= yield %>
  </body>
</html>
